.navbar{
    position: relative;
    z-index: 1050;
}

.dropdown-menu{
    max-width: 250px;
    min-width: 180px;
    right: 0;
    left: auto;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text {
    animation: fadeInUp 1s ease-in-out;
}
